def time_mod(time, attempt) {(attempt == 1) ? time : (time + (attempt * (time / 2)))}
def memory_mod(memory, attempt) {(attempt == 1) ? memory : (memory + (attempt * (memory / 2)))}

process.cpus = 8

profiles {
    slurm {
        executor {
           name = 'slurm'
           queueSize = 200
           pollInterval = '30 sec'
        }
        process {
    
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 1
            cache = 'lenient'
            
            withLabel: bismark {
                cpus = 8
                memory = { memory_mod(32.GB, task.attempt) } 
                time = { time_mod(12.hour, task.attempt) }
                queue = 'comp'
                clusterOptions = '--account=ls25 --qos=normal'    
            }
            withLabel: big {
                cpus = 4
                memory = { memory_mod(16.GB, task.attempt) } 
                time = { time_mod(12.hour, task.attempt) }
                queue = 'comp'
                clusterOptions = '--account=ls25 --qos=normal'    
            }
        }
    }
}
